img {
  height: 200px;
  width: 150px;
  border-radius: 20px;
}

 .location-text {
   margin-top: -50px;
   margin-right: 40px;
   color: white;
   line-height: 18px;
 }


.must-see-photos {
  margin-top: -15px;
  margin-right: 50px;
  color: white;
  font-size: 8px;
  white-space: nowrap;
  line-height: 20px;
}
